.container {
  flex: 1 0 0;
  margin: 10px;
  padding-top: 10px;
  padding-left: 80px;
}

.search-field {
  margin-top: 20px;
  width: 150px;
}

.radioStyle {
  display: block;
  height: 30px;
  line-height: 30px;
}
