.profile-container {
  flex: 3 0 0;
  margin: 10px;
  padding-top: 10px;
}

.profile-image {
  width: 400px;
  border-bottom: solid grey;
}

.pagination {
  display: flex;
}

.detail-text {
  color: #1d7eaa;
}

.person-text {
  color: #211c1d;
}
